/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

header,
main,
footer {
  max-width: 30rem;
  width: 100%;
}

/* Header Styles */
header {
  text-align: center;
  padding: 3rem 5rem 0 5rem;
}

.logo {
  width: 7.375rem;
}

/* Main Page Styles */
main {
  padding: 4rem 2rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* Hero Styles */
.hero1 {
  max-width: 19.063rem;
}

.combined-img {
  display: flex;
  justify-content: center;
  gap: 1.063rem;
  margin-bottom: 3rem;
}

.faces-left,
.faces-right {
  width: 100%;
  max-width: 13.003rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
  max-width: 19.438rem;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 110%;
  text-align: center;
  color: #28283d;
}

.main-desc {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  color: #87879d;
}

/* Button Styles */
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.blue-btn {
  background-color: #4d96a9;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1.813rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  color: #ffff;
}

.version {
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
}

.v-color-1 {
  color: #8fe3f9;
}

.purple-btn {
  background-color: #855fb1;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1.813rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  color: #ffff;
}

/* Content Styles */
.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.image-collage {
  width: 100%;
  max-width: 19.438rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.frame {
  display: flex;
  gap: 1rem;
}

.img-collage {
  width: 9.219rem;
  border-radius: 0.5rem;
}

.title p {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: 4px;
  color: #4d96a9;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 110%;
  color: #28283d;
}

.second-desc {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  color: #87879d;
}

/* Footer Styles */
footer {
  color: #ffff;
}

.footer-hero {
  background:
    linear-gradient(
      to bottom,
      rgba(77, 150, 169, 0.9) 0%,
      rgba(77, 150, 169, 0.85) 100%
    ),
    url(./assets/mobile/image-footer.jpg);
  padding: 4rem 2rem;

  background-size: cover;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.footer-content h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 110%;
  color: #ffff;
}

.footer-content p {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}

.v-color-2 {
  color: #d9b8ff;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  header,
  main,
  footer {
    max-width: 48rem;
    width: 100%;
  }

  .hero1,
  .main-content {
    max-width: 48rem;
  }

  .faces-left,
  .faces-right {
    width: 100%;
    max-width: 24.625rem;
  }

  .combined .text-content {
    max-width: 28.019rem;
    margin: 0 auto;
  }

  h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  .btns {
    flex-direction: row;
    justify-content: center;
  }

  .frame {
    display: contents;
  }

  .image-collage {
    max-width: 42rem;
    flex-direction: row;
    gap: 1.5rem;
  }

  .content .text-content {
    max-width: 31.5rem;
    margin: 0 auto;
  }

  .title p {
    font-size: 0.875rem;
  }

  .title h2 {
    font-size: 2.25rem;
    max-width: 25rem;
    margin: 0 auto;
  }

  .footer-hero {
    background:
      linear-gradient(
        to bottom,
        rgba(77, 150, 169, 0.9) 0%,
        rgba(77, 150, 169, 0.85) 100%
      ),
      url(./assets/tablet/image-footer.jpg);

    background-size: cover;
  }

  .footer-content {
    max-width: 31.5rem;
    margin: 0 auto;
  }

  .footer-content h2 {
    font-size: 2.25rem;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1440px) {
  header,
  main,
  footer {
    max-width: none;
    width: 100%;
  }

  header {
    padding: 5rem 5rem 0 5rem;
  }

  .hero1 {
    max-width: none;
  }

  .combined {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 2rem;
  }

  .combined-img {
    display: contents;
  }

  .faces-right {
    grid-column: 3 / 4;
    justify-self: flex-end;
  }

  .combined .text-content {
    grid-row: 1;
    grid-column: 2 / 3;

    gap: 2rem;
  }

  h1 {
    font-size: 4rem;
    font-weight: 900;
  }

  .main-desc {
    font-size: 1.125rem;
  }

  .main-content {
    max-width: none;
  }

  .image-collage {
    max-width: none;
    gap: 2rem;
  }

  .img-collage {
    width: 220px;
    height: 220px;
  }

  .content .text-content {
    max-width: 34rem;
    margin: 0 auto;

    gap: 2rem;
  }

  .title p {
    font-size: 1rem;
    font-weight: 900;
  }

  .title h2 {
    max-width: 28rem;
    margin: 0 auto;

    font-size: 2.5rem;
    font-weight: 900;
  }

  .second-desc {
    font-size: 1.125rem;
  }

  .footer-hero {
    padding: 112px 80px;
    background:
      linear-gradient(
        to bottom,
        rgba(77, 150, 169, 0.9) 0%,
        rgba(77, 150, 169, 0.85) 100%
      ),
      url(./assets/desktop/image-footer.jpg);

    background-size: cover;
  }

  .footer-content {
    max-width: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
  }

  .footer-content h2 {
    font-size: 2.5rem;
    font-weight: 900;
  }

  .footer-content p {
    font-size: 1.125rem;
  }

  .second-purple-btn {
    font-weight: 900;
  }
}
